td {vertical-align: top; border: 2px dotted #980000;  
padding: 3px 7px 3px 10px;
}
th {background-color: #980000; border: 2px solid black;
}
.subH {background-color: white; border: 2px solid #980000; color: #980000;
}
table {border-collapse:collapse; width: 850px;
}
.variable {font-style: italic; font-weight: bold; color: gray;
}
#win {position: absolute; top: 10px; left: 10px;
}
#hd1 {font-size:30px;
}
#hd2 {font-size:20px;
}
.SN {color: #980000;
}
